.footer {
    padding: 10px 20px;
    background: var(--white);
    border-top: 1px solid #ddd;
    color: var(--neutral-primary);
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  